<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="InTest">
    <test name="InTest01">
        <classes >
            <class name="com.liyingjun.extend.TestMethod">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                    <include name="logDemo"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
<!--        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"></listener>-->
        <listener class-name="com.liyingjun.config.ExtentTestReport"></listener>
    </listeners>
</suite>